@use "mixins" as *;

.header {
  padding-block: 2rem 2.5rem;

  @include mq(md) {
    padding-block: 1.5rem 1.75rem;
  }
}

.title {
  @include text-preset(h1);
}

.lead {
  max-width: 62ch;
  margin-top: 1rem;

  @include text-preset(body);
}
