@use "mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  @include card;

  @include mq(md) {
    padding: 1.25rem;
  }
}

.linked {
  color: inherit;
  text-decoration: none;

  @include focus-ring;

  &:hover {
    border-color: var(--brand-600);
  }
}
